<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['geochart']});
  google.charts.setOnLoadCallback(drawRegionsMap);

  function drawRegionsMap() {

    var data = google.visualization.arrayToDataTable([
      ['Country'],
      ['Germany'],
      ['United States'],
      ['Italy'],
      ['France'],
      ['Austria'],
      ['Czech Republic'],
      ['Hungary'],
      ['Switzerland'],
      ['China'],
      ['Mexico'],
      ['Greece'],
      ['Denmark'],
      ['Lichtenstein']
    ]);

    var options = {};

    var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

    chart.draw(data, options);
  }
</script>
<script>
  $(document).ready(function(){
    $('.carousel').carousel();

  });
</script>


<div class="container">
  <!--Carousel of pictures-->
  <div class="carousel">
    <a class="carousel-item"><img src="https://scontent-dfw1-1.xx.fbcdn.net/t31.0-8/10984197_10152777448133227_5000217869660902537_o.jpg"></a>
    <a class="carousel-item"><img src="https://scontent-dfw1-1.xx.fbcdn.net/v/t1.0-9/10456077_10152307058538227_7356141925858146893_n.jpg?oh=b0867d1e8a36827e0353a1a8043829e2&oe=57E9DFC3"></a>
    <a class="carousel-item"><img src="https://scontent-dfw1-1.xx.fbcdn.net/v/t1.0-9/12495204_10153517868143227_5372336895673166730_n.jpg?oh=2e0bd664b1f9e6b0d891858d47e00297&oe=57F87941"></a>
    <a class="carousel-item"><img src="https://scontent-dfw1-1.xx.fbcdn.net/t31.0-8/1531975_10151995308003227_1073175194_o.jpg"></a>
    <a class="carousel-item"><img src="https://scontent-dfw1-1.xx.fbcdn.net/t31.0-8/1264754_10151651782718227_1903467152_o.jpg"></a>
  </div>

  <blockquote class="section">
    <h5>
      Hello, my name is Trevor Frese.
    </h5>
    <br>
    <h5>
      I graduated from the University of California, Santa Barbara with a major in Computer Science and a minor in German.
    </h5>
    <br>
    <div id="regions_div"></div>
    <h5>
      I lived in Berlin, Germany for 6 months for study abroad, and I have traveled to a number of cities in Europe and China.
    </h5>
    <br>
    <h5>
      I want to become a successful <span class="purple-text text-accent-4">entrepreneur</span>, <span class="blue-text">software engineer</span>, and <span class="red-text">inventor</span>.
    </h5>
    <br>
    <h5>
      My hobbies include surfing, reading, writing, painting, playing music, hiking, camping, and being in nature.
    </h5>
  </blockquote>
</div>