<div class="container">
  <div class="section">
    <div class="section-title">
      <h3 class="center">Contact Me</h3>
    </div>
    <div class="row margin-top-75">
      <div class="col push-l3 push-s3">
        <%= link_to image_tag("facebook.png"), "https://www.facebook.com/Fresestyling", target: '_blank' %>
      </div>
      <div class="col push-l3 push-s3 hide-on-small-and-down">
        <%= link_to image_tag("github.png"), "https://github.com/trevorfrese/", target: '_blank' %>
      </div>
      <div class="col push-l3 push-s3 hide-on-small-and-down">
        <%= link_to image_tag("linked_in.png"), "https://www.linkedin.com/in/trevor-frese-79881b120", target: '_blank' %>
      </div>
    </div>
    <div class="row">
      <h5 class="center">
        Send me an email at <a href="mailto:trevor.frese@gmail.com" target="_top">trevor.frese@gmail.com</a>!
      </h5>
    </div>
  </div>
</div>