<script>
  $(document).ready(function(){
    $('.parallax').parallax();

    var options = [
      {selector: '#first-title', offset: 300, callback: function() {
        Materialize.showStaggeredList("#first-title");
      } },
      {selector: '#picture-of-me', offset: 300, callback: function() {
        Materialize.fadeInImage('#picture-of-me');
      } }
    ];
    Materialize.scrollFire(options);

  });



</script>
<div class="parallax-container valign-wrapper black-tint">
  <div class="container">
    <div class="row center">
      <h3 class="header col s12 white-text center light">My name is <span class="yellow-text">Trevor Frese.</span></h3>
      <br>
      <h3 class="header col s12 white-text center light">I like to build things.</h3>
    </div>
  </div>
  <div class="parallax">
    <%= image_tag("background.jpg")%>
  </div>
</div>

<div class="container">
  <div id="first-title">
    <ul class="collection" style="border: 0px;">
      <li class="collection-header opacity-zero">
        <h3 class="center">I'm a software engineer</h3>
      </li>
    </ul>
  </div>

  <div id="picture-of-me" class="row valign-wrapper opacity-zero">
    <div class="col center-block">
      <%= image_tag("trevor.jpg", class:'circle')%>
    </div>
  </div>
</div>
