<script>
  $(document).ready(function(){
    $('.parallax').parallax();
  });

</script>
<div class="parallax-container valign-wrapper black-tint">
  <div class="container">
    <div class="row center">
      <h3 class="header col s12 white-text center light">My name is <span class="yellow-text">Trevor Frese.</span></h3>
      <br>
      <h3 class="header col s12 white-text center light">I like to build things.</h3>
    </div>
  </div>
  <div class="parallax">
    <%= image_tag("background.jpg")%>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col push-s4 push-l4">
      <%= image_tag("trevor.jpg", class: "circle padding-top-ten")%>
    </div>
  </div>
  <div class="row center">
    <div class="header">
      <h2>My name is Trevor Frese</h2>
    </div>
  </div>
</div>