<script>
  $(document).ready(function(){
    $('.parallax').parallax();
    $('.carousel').carousel();

    var options = [
      {selector: '#first-title', offset: 300, callback: function() {
        Materialize.showStaggeredList("#first-title");
      } },
      {selector: '#picture-of-me', offset: 300, callback: function() {
        Materialize.fadeInImage('#picture-of-me');
      }},
      {selector: '#description', offset: 300, callback: function() {
        Materialize.showStaggeredList("#description");
      } },
    ];
    Materialize.scrollFire(options);

  });



</script>
<div class="parallax-container valign-wrapper black-tint">
  <div class="container">
    <div class="row center">
      <h3 class="header col s12 white-text center light">My name is <span class="yellow-text">Trevor Frese.</span></h3>
      <br>
      <h3 class="header col s12 white-text center light">I like to build things.</h3>
    </div>
  </div>
  <div class="parallax">
    <%= image_tag("background.jpg")%>
  </div>
</div>

<div class="container">
  <!--Introduction Section-->
  <div id="first-title">
    <ul class="collection" style="border: 0px;">
      <li class="collection-header opacity-zero">
        <h3 class="center">I'm a software engineer.</h3>
      </li>
    </ul>
  </div>

  <div id="picture-of-me" class="row valign-wrapper opacity-zero">
    <div class="col center-block">
      <%= image_tag("trevor.jpg", class:'circle')%>
    </div>
  </div>

  <!--Promotional Section-->
  <div id="description">
    <ul class="collection" style="border: 0px;">
      <li class="collection-header opacity-zero">
        <h4 class="center">I'm interested in learning as much as I can about anything and everything.</h4>
      </li>
    </ul>
  </div>

  <!--Carousel of pictures-->
  <div class="carousel">
    <a class="carousel-item"><img src="https://scontent-dfw1-1.xx.fbcdn.net/t31.0-8/10984197_10152777448133227_5000217869660902537_o.jpg"></a>
    <a class="carousel-item"><img src="https://scontent-dfw1-1.xx.fbcdn.net/v/t1.0-9/10456077_10152307058538227_7356141925858146893_n.jpg?oh=b0867d1e8a36827e0353a1a8043829e2&oe=57E9DFC3"></a>
    <a class="carousel-item"><img src="https://scontent-dfw1-1.xx.fbcdn.net/v/t1.0-9/12495204_10153517868143227_5372336895673166730_n.jpg?oh=2e0bd664b1f9e6b0d891858d47e00297&oe=57F87941"></a>
    <a class="carousel-item"><img src="https://scontent-dfw1-1.xx.fbcdn.net/t31.0-8/1531975_10151995308003227_1073175194_o.jpg"></a>
    <a class="carousel-item"><img src="https://scontent-dfw1-1.xx.fbcdn.net/t31.0-8/1264754_10151651782718227_1903467152_o.jpg"></a>
  </div>

</div>
