<script>
  $(document).ready(function(){
    $('.parallax').parallax();
  });
</script>

<div class="section">
  <div class="container">
    <div class="section-title">
      <h3 class="center">My Work</h3>
      <!--<h5>-->
        <!--I am an extremely dedicated person. I prefer working 12-16 hours a day and I get obsessive about the projects I work on. I need environments conducive to pushing everyone to learn the most, build the best products, and have the most fun doing it.-->
      <!--</h5>-->
    </div>
  </div>
</div>
<div class="parallax-container valign-wrapper black-tint">
  <div class="container">
    <div class="row center">
      <h4 class="header col s12 white-text center light">
        I cofounded <a href="http://www.sbhacks.com/" target="_blank">SB Hacks</a>, UCSB's first annual hackathon.
      </h4>
      <br>
      <h5 class="header col s12 white-text center light">
        SB Hacks is an event in which a creative community of programmers - from novices to experienced - come together for 36 hours to make amazing projects.
      </h5>
    </div>
  </div>
  <div class="parallax">
    <%= image_tag("sbhacks.jpg")%>
  </div>
</div>

<div class="section hide-on-small-and-down">
  <div class="row">
    <div class="col l8 s6">
      <div class="section-title">
        <h4>
          I cofounded <a href="https://itunes.apple.com/us/app/iv-echo/id1072284944?mt=8" target="_blank">Echo</a>, a mobile app startup.
        </h4>
        <h5>
          Echo lets you follow places the same way that you follow people. It allows you to share content with locations and
          notify entire areas with the push of a button.
        </h5>
        <br>
        <h5>
          I was the software engineer, QA engineer, salesperson, graphics designer, business developer,
          customer relationship developer, and every other hat that you can wear in a startup.
        </h5>
      </div>
    </div>
    <div class="col l4 s6">
      <div class="card hoverable">
        <a href="https://itunes.apple.com/us/app/iv-echo/id1072284944?mt=8" target="_blank">
          <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag("echo.jpg") %>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper black-tint">
  <div class="container">
    <div class="row center">
      <h4 class="header col s12 white-text center light">
        I led the winning Capstone team, with our project <a href="https://github.com/Team-Struct-by-Lightning/Benedictation" target="_blank">Benedict</a>.
      </h4>
      <br>
      <h5 class="header col s12 white-text center light">
        Benedict is a smart assistant integrated into a video web conferencing application.
        He answers questions, schedules meetings, brings up documents and more, all while in a video conference meeting.
      </h5>
    </div>
  </div>
  <div class="parallax">
    <%= image_tag("benny.jpg")%>
  </div>
</div>

<div class="container">
  <div class="section-title">
    <h2 class="center">
      More Work Experience
    </h2>
    <h5 class="center">
      For my complete work history see my Linkedin account.
    </h5>
    <div class="center">
      <a class="waves-effect waves-light red btn-large" href="https://www.linkedin.com/in/trevor-frese-79881b120" target="_blank">See Full Work History</a>
    </div>
  </div>
</div>

<div class="margin-top-75 divider"></div>