<nav>
  <div class="nav-wrapper red">
    <a href="#" class="brand-logo left padding-left-ten">TREVOR FRESE</a>
    <ul class="right hide-on-med-and-down">
      <li class="active"><a href="sass.html">ME</a></li>
      <li><a href="badges.html">PROJECTS</a></li>
      <li><a href="collapsible.html">CONTACT</a></li>
      <li><a href="collapsible.html">FOOD</a></li>
    </ul>
</nav>
