<nav>
  <div class="nav-wrapper orange">
    <!--Left hand side-->
    <ul class="left hide-on-med-and-down">
      <li>
        <%= link_to("HOME", root_path) %>
      </li>
      <li><a href="badges.html">PROJECTS</a></li>
      <li><a href="collapsible.html">FOOD</a></li>
    </ul>

    <%= link_to("TREVOR FRESE", root_path, class: "brand-logo center padding-left-ten") %>

    <!--Right hand side-->
    <ul class="right hide-on-med-and-down">
      <li>
        <%= link_to("ABOUT", welcome_about_path) %>
      </li>
      <li>
        <%= link_to("CONTACT", welcome_contact_path) %>
      </li>
    </ul>
</nav>
