<nav>
  <div class="nav-wrapper green">
    <a href="#" class="brand-logo center">Trevor Frese</a>
    <ul class="right hide-on-med-and-down">
      <li class="active"><a href="sass.html">About</a></li>
      <li><a href="badges.html">Projects</a></li>
      <li><a href="collapsible.html">Contact</a></li>
    </ul>
</nav>
